target/**
*/target/**
*/node_modules/**
.cache
.idea
.metadata
.settings
*.class
*.classpath
*.iml
*.eml
*.orig
*.jar
*.versionsBackup
*.project
*.kube
*.factorypath
*.rdb
deployment_package
deployment_package.zip

coveo-cloud-authorization-server/src/main/resources/application-default.yml
